[submodule "temoto_utils"]
	path = temoto_utils
	url = https://github.com/temoto-telerobotics/temoto_utils
[submodule "temoto_action_engine"]
	path = temoto_action_engine
	url = https://github.com/temoto-telerobotics/temoto_action_engine
[submodule "temoto_er_manager"]
	path = temoto_er_manager
	url = https://github.com/temoto-telerobotics/temoto_er_manager
[submodule "temoto_component_manager"]
	path = temoto_component_manager
	url = https://github.com/temoto-telerobotics/temoto_component_manager
[submodule "temoto_core"]
	path = temoto_core
	url = https://github.com/temoto-telerobotics/temoto_core
[submodule "temoto_resource_registrar"]
	path = temoto_resource_registrar
	url = https://github.com/temoto-telerobotics/temoto_resource_registrar
	branch = messaging-devel
