<launch>
  <include file="$(find temoto_action_assistant)/launch/action_assistant.launch">
    <arg name="ta_path" value="$(find temoto_ws)/../actions/" />
    <arg name="ug_path" value="$(find temoto_ws)/../umrf_graphs/" />
    <arg name="ft_path" value="$(find temoto_action_assistant)/" />
    <arg name="du_path" value="$(find temoto_action_assistant)/resources/default_umrf.json" />
    <arg name="up_path" value="$(find temoto_action_assistant)/umrf_parameters/" />
  </include>
</launch>

