<launch>
  <arg name="camera_data" default="usb_cam/image_raw" />
  <arg name="camera_data_compressed" default="usb_cam/image_raw/compressed" />
  <arg name="camera_info" default="usb_cam/camera_info" /> 
  <arg name="video_device" default="/dev/video0" />
  <arg name="camera_info_url" default="$(find example_temoto_config_pkg)/config/camera_calibration_params.yaml" />
  <arg name="frame_id" default="usb_cam" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" required="true" >
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="$(arg frame_id)" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" value="file://$(arg camera_info_url)"/>

    <remap from="usb_cam/image_raw" to="$(arg camera_data)" />
    <remap from="usb_cam/image_raw/compressed" to="$(arg camera_data_compressed)" />
    <remap from="usb_cam/camera_info" to="$(arg camera_info)" />
  </node>

  <!-- Attatch the camera to the map frame. Comment this part out if not needed -->
  <!--node name="static_camera_frame_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /$(arg frame_id) 50"/-->
</launch>