<?xml version="1.0"?>
<launch>
  <arg name="temoto_namespace" default="$(anon temoto)" />

  <!--env name="ROSCONSOLE_FORMAT" value="${logger} [${function}] ${message}" /-->
  <env name="ROSCONSOLE_FORMAT" value="[${function}] ${message}" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find temoto)/config/console.conf" />  

  <group ns="$(arg temoto_namespace)">
    <node name="temoto_er_manager" pkg="temoto_er_manager" type="temoto_er_manager" output="screen" />
    <node name="temoto_sensor_manager" pkg="temoto_sensor_manager" type="temoto_sensor_manager" output="screen" />
    <node name="temoto_nlp_interface" pkg="temoto_nlp" type="temoto_nlp_interface" output="screen" />
  </group>

</launch>
